<div class="container" style="margin-top: 70px;">
  <div class="row">
    <h1 class="text-center">Contact App</h1>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.id }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone}} </td>
      <td><a href="" class="btn btn-danger">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>